<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Yêu cầu quyền truy cập Internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BTL1"
        tools:targetApi="31">
        <activity
            android:name=".activities.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".activities.Decree168Activity"
            android:exported="false" />
        <activity
            android:name=".activities.ExamDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.TipsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.QuestionDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ResultActivity"
            android:exported="false" /> <!-- Activity chính -->
        <activity
            android:name=".activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Nếu có thêm activity, khai báo ở đây -->
        <activity
            android:name=".activities.ExamActivity"
            android:exported="false" />
        <activity
            android:name=".activities.QuestionListActivity"
            android:exported="false" />
    </application>

</manifest>